@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Roboto&display=swap');

*, *:before, *:after {
    padding: 0px;
    margin: 0px;
     /* this fix select being shorter than other inputs */
    box-sizing: border-box; 
  }

:root {
    --light-background: rgb(243, 200, 10);
    --dark-buttons: rgb(208, 90, 90);
    --darker-buttons: rgb(133, 13, 13);
    --special-font: 'Caveat', cursive;
    --plain-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
    font-family: var(--plain-font)
}

button {
    background-color: var(--dark-buttons);
    color: white;
    padding: 0.6rem;
    margin: 0.3rem;
    width: 12rem;
    border-radius: 4px;
    border: none;
}

/***  Header component *****/
header {
    padding: 0px;
    margin: 0px;
}

header h1 {
    background-color: var(--light-background);
    font-size: 3rem;
    color: black;
    padding: 2rem;
    margin: 0px;
}

.form_area {
    display: flex;
}

/**** Form component *****/

form {
    background-color: var(--light-background);
    padding: 1.2rem 0;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: flex-end;
    width: 50vw;
}

.lab_input {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0.4rem 0rem 0rem 6rem;
}

label {
    display: inline-block;
    width: 30%;
    text-align: left;
}

input,
select,
textarea,
#send_button {
    padding: 0.6rem;
    margin: 0.3rem;
    width: 12rem;
    min-height: 3rem;
    border-radius: 4px;
    border: none;
}

#send_button {
    color: white;
}

/**** View component *****/
.view {
    background-color:var(--light-background);
    padding: 3rem;
    width: 50vw;
}

.viewCard {
    background-color: rgb(239, 239, 239);
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: repeat(5, 1fr);
    box-shadow: 0 0 5px grey;
}

.viewCard p {
    padding: 1.2rem;
}

.grid_item {
    padding-left: 1.2rem;
    border-bottom: 1px dotted black;
}

.empty_item {
    border-bottom: 1px dotted black;
}

#first_field,
#last_field,
#id_field,
#message_field,
#role_field {
    border-left: 3px double rgb(255, 119, 0);
}

#first_field {
    grid-area: 1 / 2 / 2 / 3;
}

#last_field {
    grid-area: 2 / 2 / 3 / 3;
}

#id_field {
    grid-area: 3 / 2 / 4 / 3;
}

#message_field {
    grid-area: 4 / 2 / 5 / 3;
}

#role_field {
    grid-area: 5 / 2 / 6 / 3;
}

.view span {
    font-family: var(--special-font);
    padding-left: 1rem;
}

/**** Main with notes area ******/
.main {
    height: 40vh;
    padding: 2.4rem;
    background-image: url('./components/assets/background.jpg');
    background-size: contain;
}

/* .notes {
    padding-left: 3rem;
} */

/***** Popup area *****/

.overlay {
    background-color: rgba(0, 0, 0, 0.461);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    width: 60%;
    height: 60%;
    background-color: white;
}

.popup p,
.popup h1 {
    display: block;
    padding-left: 3rem;
    padding-bottom: 0.6rem;
}

.popup h1 {
    padding-top: 3rem;
}

.button_flex {
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
}

button {
    height: 30%;
    width: 50%;
    margin-bottom: 4rem;
    background-color: transparent;
    color: var(--dark-buttons);
    border: 1px solid;
}

.active_button {
    background-color: var(--dark-buttons);
    color: black;
}

.active_button:hover {
    background-color: var(--darker-buttons);
    color: black;
}

button:hover {
    background-color: var(--dark-buttons);
    color: black;
}

@media only screen and (max-width: 600px){
    button {
        min-height: 4rem;
    }
}

/***  Footer area ****/
footer {
    display: flex;
    justify-content: center;
    font-family: var(--special-font);
  }